body {
  background-image: url(images/blue.jpg);
}

#nav_bar{
  float: right; 
  margin-right: 30px;
  margin-top: -140px;

}
#list-nav li{
  display: inline-block;
  font-size: 18pt;
  font-family:OpenSans-ExtraBoldItalic;
}

#list-nav li a{
  width: 15em;
  padding: 0.5em 1em;
  text-decoration: none;
  color:  #E6E6DC;
}

#list-nav li a:active{
  color: #81A594;
}

#list-nav  a:hover{
    background: #6F8A00;
    color:#FFF;
}


#list_points{
  margin-top: 20px;
}

#mainText {
  text-align: left;
}

h3{
  margin-left: 3%; 
  font-family: arial;
  font-size: 30pt;
}

#points{
  list-style: inside;
  font-family: arial;
  font-size: 15pt;
  margin-left: 5%;
}



#video{
  float: right;
  margin-right: 50px;
  margin-top: -250px;
}

#table
{
  margin: 20px 200px 10px 300px;

}

#sign_up
{
  margin-left: 680px;
}

#info{
  margin: left;
  margin-left: 25px;
}

#theform{
  float: right;
  margin-right: 150px;
  margin-top: -200px;
  padding: 0px 0px 0px 250px;
  border-left: 4px solid #000000;
}
#cloud{
  float: right;
  margin-right: 50px;
  height: 190px;
  
}
#form{
  float: left;
  margin-left: 50px;
}

footer{

   margin-top: 160px;
}
footer:a{
  text-decoration: none;
}
table tr{
  padding: 0.2em 0.5em;
}
.button{
  border-radius: 5px;
}

#copyright
{
  margin-top: -10px;
  float right;

}
#basic li{
  list-style-type: none;
}
#pro li{
  list-style-type: none;
}
#basicPlan{
  float: left;
}
#proPlan{
  float: right;
}